node_modules
**/node_modules/
**/.env
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*.zip
**/*.tgz
**/*.gz
**/*.tar
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak/
**/temp/
**/tmp/
**/*.html.*
**/*.py.*
**/*.js.*
**/*.nc
**/.cache
**/cache
**/__pycache__

