{% extends "admin/change_list.html" %}
{# % load staticfiles % #}
{# % load i18n admin_static % #}
{% load static %}

{% block extrahead %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" type= "text/css" href="{% static 'css/notify.css' %}" />
{% endblock %}

{% block content %}
{{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#due_datetime").datetimepicker({
        format: "YYYY-MM-DD HH:mm",
        defaultDate:'' //in django, needs YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ] format.
      });

      /* correctly show calendar positon ref: http://jsfiddle.net/cmpgtuwy/654/ */
      $('#due_datetime').on('dp.show', function() {
	let datepicker = $('body').find('.bootstrap-datetimepicker-widget:last');

	if (datepicker.hasClass('bottom')) {
            let top = $(this).offset().top + $(this).outerHeight();
	    let left = $(this).offset().left;
	    datepicker.css({
	      'top': top + 'px',
	      'bottom': 'auto',
	      'left': left + 'px'
	    });
	} else if (datepicker.hasClass('top')) {
	    let top = $(this).offset().top - datepicker.outerHeight();
	    let left = $(this).offset().left;
	    datepicker.css({
              'top': top + 'px',
	      'bottom': 'auto',
              'left': left + 'px'
	    });
        }
     });
    });
  </script>
  <script src="{% static 'message.js' %}" defer></script>
{{ media }}
<div>
  <div class="panel panel-default" style="border:none;">
    <div class="panel-body">
      <!-- Single button -->
      <div class="btn-group pull-right top-head-dropdown">
        <button type="button" class="msg_list btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-2x"></i><span id="msg_cnt" class="counter counter-lg"></span>&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul id="adminmsgbox" class="dropdown-menu dropdown-menu-right">
          {# % for message in messages % #}
          <!--li>
            <p>{{ message.formatted_timestamp }}</p>
            <a href="#" class="top-text-block">
              <span class="top-text-light msg-item">{{ message.message }}</span>
            </a>
          </li-->
          {# % endfor % #}
          <!--li>
            <div class="loader-topbar"></div>
          </li-->
        </ul>
      </div>
    </div>
  </div>

  <form id="adminmsgform">
    <!--table id="adminmsgbox"-->
      <!--tbody>
        {# % for message in messages % #}
          <tr>
            <!--td>{{ message.formatted_timestamp }}</td-->
            <td>{{ message.message }}</td>
          </tr>
        {# % endfor % #}
      </tbody-->
    <table class="table table-responsive noborder" style="border-collapse:collapse">
      <tbody>
      <thead class="noboder">Broadcast</thead>
      <tr class="noborder">
        <td id="adminmsgtd" class="noborder" style="max-width:40%;">
          <textarea id="adminmessage" rows="3" placeholder="Say something here..."></textarea>
        </td>
        <td class="noborder" style="width:25%;min-width:135px;">
          <label for="due_datetime">due on:</label>
          <input class="form-control" id="due_datetime" type="text" />
        </td>
        <td class="noborder" style="width:20%;">
          <label for="adminmsglevel">Level: </label>
          <select id="adminmsglevel">
            <option value=1 selected="selected">Normal</option>
            <option value=2>Urgent</option>
            <option value=3>Ontop</option>
          </select>
        </td>
      </tr>
      <tr class="noborder">
        <td class="noborder">
          <button type="submit" id="adminmsgsend">Say it</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}

