{% extends "admin/change_list.html" %}
{# % load staticfiles % #}
{# % load i18n admin_static % #}
{% load static %}

{% block content %}
{{ block.super }}
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'message.js' %}" defer></script>
{{ media }}
<div>
  <form id="adminmsgform">
    <table id="adminmsgbox">
      <tbody>
        {% for message in messages %}
          <tr>
            <!--td>{{ message.formatted_timestamp }}</td-->
            <td>{{ message.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="adminmessage" type="text" placeholder="message">
          <button type="submit" id="adminmsgsend">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>
</div>
{% endblock %}
