{% extends "admin/change_list.html" %}
{# % load staticfiles % #}
{# % load i18n admin_static % #}
{% load static %}

{% block extrahead %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type= "text/css" href="{% static 'css/notify.css' %}" />
{% endblock %}

{% block content %}
{{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#due_datetime").datetimepicker({
        format: "YYYY-MM-DD HH:mm",
        defaultDate:'' //in django, needs YYYY-MM-DD HH:MM[:ss[.uuuuuu]][TZ] format.
      });
    });
  </script>
  <script src="{% static 'message.js' %}" defer></script>
{{ media }}
<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Single button -->
      <div class="btn-group pull-right top-head-dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notification <span class="caret"></span>
        </button>
        <ul id="adminmsgbox" class="dropdown-menu dropdown-menu-right">
          {% for message in messages %}
          <li>
            <!--p>{{ message.formatted_timestamp }}</p-->
            <a href="#" class="top-text-block">
              <span class="top-text-light msg-item">{{ message.message }}</span>
            </a>
          </li>
          {% endfor %}
          <!--li>
            <div class="loader-topbar"></div>
          </li-->
        </ul>
      </div>
    </div>
  </div>

  <form id="adminmsgform">
    <!--table id="adminmsgbox"-->
      <!--tbody>
        {# % for message in messages % #}
          <tr>
            <!--td>{{ message.formatted_timestamp }}</td-->
            <td>{{ message.message }}</td>
          </tr>
        {# % endfor % #}
      </tbody-->
    <table>
      <tfoot>
      <tr>
        <td>Broadcast</td>
        <td colspan=2>
          <textarea id="adminmessage" rows="3" placeholder="Say something here..."></textarea>
        </td>
        <td colspan=3>
          <label for="due_datetime">due on:</label>
          <input class="form-control" id="due_datetime" type="text" />
        </td>
        <td>
          <button type="submit" id="adminmsgsend">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>
</div>
{% endblock %}

